<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add5step_fly0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,296},{38,117}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,117}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,558},{38,121}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,121}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,405},{38,123}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,123}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,276},{38,127}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,127}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,163},{38,131}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,131}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,141},{38,133}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,133}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{38,137}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,137}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,415},{36,141}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,141}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{36,145}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,145}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{36,149}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,149}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{36,153}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,153}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{36,155}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,155}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,159}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,159}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{38,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,161}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_fly0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,165}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>add5step_prop0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,899},{42,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,855},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,811},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,834},{42,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,790},{42,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,725},{42,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,681},{42,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,750},{40,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,706},{42,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,530},{40,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,42}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,769},{38,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{38,40}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,662},{42,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,618},{42,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>add5step_prop0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,574},{42,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>add_five_step_ani@2x.png</string>
            <key>size</key>
            <string>{122,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be195d8a8b242bca9b62a43385aebf2:46546ab3a8479d760011e0378a7e8427:97fb15919168d6f932a1deaedff1a1f5$</string>
            <key>textureFileName</key>
            <string>add_five_step_ani@2x.png</string>
        </dict>
    </dict>
</plist>
