<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Prop_10001 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,464},{51,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,45}}</string>
				<key>sourceSize</key>
				<string>{51,45}</string>
			</dict>
			<key>Prop_10002 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{381,544},{46,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,40}}</string>
				<key>sourceSize</key>
				<string>{46,40}</string>
			</dict>
			<key>Prop_10003 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{51,470},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,45}}</string>
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>Prop_10004 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{274,546},{40,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,43}}</string>
				<key>sourceSize</key>
				<string>{40,43}</string>
			</dict>
			<key>Prop_10005 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,509},{46,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,41}}</string>
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>Prop_10007 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{302,455},{51,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,46}}</string>
				<key>sourceSize</key>
				<string>{51,46}</string>
			</dict>
			<key>Prop_10010 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{130,584},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,39}}</string>
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>Prop_10011 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{170,586},{40,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,36}}</string>
				<key>sourceSize</key>
				<string>{40,36}</string>
			</dict>
			<key>Prop_10012 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{482,75},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,36}}</string>
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>Prop_10013 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{486,0},{18,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,50}}</string>
				<key>sourceSize</key>
				<string>{18,50}</string>
			</dict>
			<key>Prop_10014 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{325,220},{40,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,50}}</string>
				<key>sourceSize</key>
				<string>{40,50}</string>
			</dict>
			<key>Prop_10015 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{111,465},{50,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,45}}</string>
				<key>sourceSize</key>
				<string>{50,45}</string>
			</dict>
			<key>Prop_10016 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{154,543},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,41}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>Prop_10017 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{225,508},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,45}}</string>
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>Prop_10018 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{51,556},{39,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,43}}</string>
				<key>sourceSize</key>
				<string>{39,43}</string>
			</dict>
			<key>Prop_10019 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{335,513},{46,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,41}}</string>
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>Prop_10024 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{90,577},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>Prop_10025 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{174,464},{51,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,45}}</string>
				<key>sourceSize</key>
				<string>{51,45}</string>
			</dict>
			<key>Prop_10026 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{367,584},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,39}}</string>
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>Prop_10027 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{46,515},{46,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,41}}</string>
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>Prop_10028 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{286,501},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,45}}</string>
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>Prop_10029 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{388,284},{40,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,47}}</string>
				<key>sourceSize</key>
				<string>{40,47}</string>
			</dict>
			<key>Prop_10030 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{427,544},{54,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,32}}</string>
				<key>sourceSize</key>
				<string>{54,32}</string>
			</dict>
			<key>Prop_10031 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{199,553},{52,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,33}}</string>
				<key>sourceSize</key>
				<string>{52,33}</string>
			</dict>
			<key>Prop_10032 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{100,510},{54,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,35}}</string>
				<key>sourceSize</key>
				<string>{54,35}</string>
			</dict>
			<key>Prop_10033 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{314,554},{53,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,32}}</string>
				<key>sourceSize</key>
				<string>{53,32}</string>
			</dict>
			<key>Prop_10034 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,556},{51,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,33}}</string>
				<key>sourceSize</key>
				<string>{51,33}</string>
			</dict>
			<key>Prop_10035 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{425,509},{55,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,35}}</string>
				<key>sourceSize</key>
				<string>{55,35}</string>
			</dict>
			<key>Prop_10036 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{92,545},{54,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,32}}</string>
				<key>sourceSize</key>
				<string>{54,32}</string>
			</dict>
			<key>Prop_10037 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{427,576},{52,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,32}}</string>
				<key>sourceSize</key>
				<string>{52,32}</string>
			</dict>
			<key>Prop_10038 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{161,509},{57,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,34}}</string>
				<key>sourceSize</key>
				<string>{57,34}</string>
			</dict>
			<key>Prop_10039 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{367,79},{33,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,48}}</string>
				<key>sourceSize</key>
				<string>{33,48}</string>
			</dict>
			<key>Prop_10052 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{182,406},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,58}}</string>
				<key>sourceSize</key>
				<string>{57,58}</string>
			</dict>
			<key>Prop_10053 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,407},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,57}}</string>
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>Prop_10055 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{239,459},{47,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,49}}</string>
				<key>sourceSize</key>
				<string>{47,49}</string>
			</dict>
			<key>Prop_10056 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{120,407},{54,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,58}}</string>
				<key>sourceSize</key>
				<string>{54,58}</string>
			</dict>
			<key>Prop_10057 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{57,413},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,57}}</string>
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>target.acorn instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{405,75},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,77}}</string>
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>target.dig_move instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{299,149},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,71}}</string>
				<key>sourceSize</key>
				<string>{67,71}</string>
			</dict>
			<key>target.dig_move_endless instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{299,79},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,70}}</string>
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>target.dig_move_endless_mayday_1 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{377,454},{48,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,59}}</string>
				<key>sourceSize</key>
				<string>{48,59}</string>
			</dict>
			<key>target.dig_move_endless_mayday_2 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{457,341},{55,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,56}}</string>
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>target.dig_move_endless_qixi instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{322,347},{65,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,56}}</string>
				<key>sourceSize</key>
				<string>{65,56}</string>
			</dict>
			<key>target.dig_move_endless_wukong_1 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{448,453},{53,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,56}}</string>
				<key>sourceSize</key>
				<string>{53,56}</string>
			</dict>
			<key>target.drop instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{262,220},{63,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,65}}</string>
				<key>sourceSize</key>
				<string>{63,65}</string>
			</dict>
			<key>target.hedgehog_endless_1 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{261,285},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,63}}</string>
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>target.hedgehog_endless_2 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{120,349},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,58}}</string>
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>
			<key>target.ice instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,227},{64,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,63}}</string>
				<key>sourceSize</key>
				<string>{64,63}</string>
			</dict>
			<key>target.key instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{67,154},{68,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,66}}</string>
				<key>sourceSize</key>
				<string>{68,66}</string>
			</dict>
			<key>target.order1_1 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{253,348},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>target.order1_2 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{63,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,57}}</string>
				<key>sourceSize</key>
				<string>{63,57}</string>
			</dict>
			<key>target.order1_3 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{190,347},{63,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,59}}</string>
				<key>sourceSize</key>
				<string>{63,59}</string>
			</dict>
			<key>target.order1_4 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{448,398},{61,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,55}}</string>
				<key>sourceSize</key>
				<string>{61,55}</string>
			</dict>
			<key>target.order1_5 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,290},{63,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,60}}</string>
				<key>sourceSize</key>
				<string>{63,60}</string>
			</dict>
			<key>target.order1_6 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{66,220},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>target.order2_1 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{165,0},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,79}}</string>
				<key>sourceSize</key>
				<string>{80,79}</string>
			</dict>
			<key>target.order2_2 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{405,0},{81,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,75}}</string>
				<key>sourceSize</key>
				<string>{81,75}</string>
			</dict>
			<key>target.order2_3 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{135,219},{63,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,66}}</string>
				<key>sourceSize</key>
				<string>{63,66}</string>
			</dict>
			<key>target.order3_1 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{82,78},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,76}}</string>
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>target.order3_2 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{245,0},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,79}}</string>
				<key>sourceSize</key>
				<string>{80,79}</string>
			</dict>
			<key>target.order3_3 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{325,0},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,79}}</string>
				<key>sourceSize</key>
				<string>{80,79}</string>
			</dict>
			<key>target.order3_4 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{82,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,79}}</string>
				<key>sourceSize</key>
				<string>{82,79}</string>
			</dict>
			<key>target.order3_5 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{83,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,78}}</string>
				<key>sourceSize</key>
				<string>{83,78}</string>
			</dict>
			<key>target.order3_6 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{437,152},{69,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,67}}</string>
				<key>sourceSize</key>
				<string>{69,67}</string>
			</dict>
			<key>target.order4_1 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{366,218},{64,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,66}}</string>
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>
			<key>target.order4_2 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{128,285},{62,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,64}}</string>
				<key>sourceSize</key>
				<string>{62,64}</string>
			</dict>
			<key>target.order4_3 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{157,152},{70,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,67}}</string>
				<key>sourceSize</key>
				<string>{70,67}</string>
			</dict>
			<key>target.order4_4 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{325,284},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>target.order4_5 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{388,341},{69,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,57}}</string>
				<key>sourceSize</key>
				<string>{69,57}</string>
			</dict>
			<key>target.order4_6 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{313,403},{64,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,52}}</string>
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>
			<key>target.order4_7 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{64,284},{64,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,63}}</string>
				<key>sourceSize</key>
				<string>{64,63}</string>
			</dict>
			<key>target.order5_2 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{239,408},{63,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,51}}</string>
				<key>sourceSize</key>
				<string>{63,51}</string>
			</dict>
			<key>target.order5_3 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{229,151},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>target.order5_4 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{430,277},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>
			<key>target.order5_5 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{198,220},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>target.order6_1 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{366,152},{71,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,66}}</string>
				<key>sourceSize</key>
				<string>{71,66}</string>
			</dict>
			<key>target.order6_2 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{430,219},{71,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,58}}</string>
				<key>sourceSize</key>
				<string>{71,58}</string>
			</dict>
			<key>target.order6_3 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{229,79},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,72}}</string>
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>target.order_lotus_1 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,159},{66,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,68}}</string>
				<key>sourceSize</key>
				<string>{66,68}</string>
			</dict>
			<key>target.rabbit_weekly instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{63,347},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,66}}</string>
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>target.score instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{198,284},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>target.summer_weekly_1 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{157,79},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,73}}</string>
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>target.summer_weekly_2 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{387,398},{61,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,56}}</string>
				<key>sourceSize</key>
				<string>{61,56}</string>
			</dict>
			<key>target.time instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,79},{67,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,80}}</string>
				<key>sourceSize</key>
				<string>{67,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>target_icon@2x.png</string>
			<key>size</key>
			<string>{512,700}</string>
			<key>textureFileName</key>
			<string>target_icon@2x.png</string>
		</dict>
	</dict>
</plist>
